body{
    background-color:black;
    color:white;
}
.container{
    margin-bottom:15px;
}
.display{
    font-size:45px;
    font-family:Arial;
    margin-bottom:14px;
    margin-top:20px;
}
.numbers{
    padding:14px 22px;
    background-color:rgb(51, 51, 51);
    color:white;
    font-size:25px;
    border-style:solid;
    border-radius:30px;
    cursor:pointer;
}
.addition-button{
    padding:14px 22px;
    background-color:rgb(254, 160, 10);
    color:white;
    font-size:25px;
    border-style:solid;
    border-radius:30px;
    cursor:pointer;
}
.clear-button{
    padding:19px 8px;
    background-color:rgb(51, 51, 51);
    color:white;
    font-size:18px;
    border-style:solid;
    border-radius:30px;
    cursor:pointer;
}
.operations{
    padding:14px 24px;
    background-color:rgb(254, 160, 10);
    color:white;
    font-size:25px;
    border-style:solid;
    border-radius:30px;
    cursor:pointer;
}
.decimal-button{
    padding:19px 26px;
    background-color:rgb(51, 51, 51);
    color:white;
    font-size:18px;
    border-style:solid;
    border-radius:30px;
    font-weight:bold;
    cursor:pointer;
}